{% extends "blog/base.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">Welcome to the blog!</h2>
            <p class="article-content">Hey there and join us!
                Don't hesitate to leave your comments under users's post and don't be afraid to write your own ones.

                To get full access to all blog features you should register or log in if you already have an account.
            </p>
        </div>
    </article>
{% endblock %}
