{% extends "blog/base.html" %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ admin.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' admin.username %}">{{ admin.username }}</a>
                <small class="text-muted">September 11, 2021</small>
            </div>
            <h2 class="article-title">Welcome to my blog!</h2>
            <p class="article-content">Hey there! I'm glad to see all of you in my blog.
                Please, don't hesitate to leave your comments under users's post and don't be afraid to write your own ones.

                To get full access to all blog features you should register or log in if you already have an account.
            </p>
        </div>
    </article>
{% endblock %}
